<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIMCMVC</title>
    <script src="https://kit.fontawesome.com/77a9a4e10d.js" crossorigin="anonymous"></script>
    <link href="~/css/HeaderFooter.css" rel="stylesheet" />
</head>
<body>
    @{
        if (ViewData["Title"].ToString() == "HomePage")
        {
            <header>
                <div class="ContainerHeader ContainerGrid">
                    <div class="ContainerLogo">
                        <i class="fas fa-calculator"></i>
                        <h1 class="TextoLogo">Calculadora IMC</h1>
                    </div>
                    <a class="DeslogarLink" asp-area="" asp-controller="Login" asp-action="Deslogar">Deslogar</a>
                    <a class="DeletarLink" asp-area="" asp-controller="Home" asp-action="DeletarUsuario"> Deletar conta</a>
                </div>
            </header>
        }
    }
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CIMCMVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CIMCMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
